# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Nuxt dev/build outputs
.output
.nuxt

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
node_modules

# Local certs
certs/localhost-key.pem
certs/localhost.pem

pnpm-lock.yaml