/* -----------------------------------------------------------------------------
  Colors
  -------------------------------------------------------------------------- */
/* Container */
.cookieControl__Bar,
.cookieControl__BarContainer,
.cookieControl__ModalUnsaved,
.cookieControl__ModalContent {
  @apply border-gray-200 bg-gray-50 dark:border-gray-700  dark:bg-gray-800;
}
/* Container inner */
.cookieControl__ModalContentInner ul li {
  @apply border border-gray-200 bg-gray-100 dark:border-gray-700  dark:bg-gray-700;
}

/* Text */
.cookieControl__Bar,
.cookieControl__BarContainer,
.cookieControl__BarContainer div p,
.cookieControl__ModalContentInner h3,
.cookieControl__ModalContentInner p,
.cookieControl__ModalCookieName {
  @apply text-gray-600 dark:border-gray-700 dark:text-gray-400;
}

/* Links */
.cookieControl__ModalContentInner p a {
  @apply border-gray-400 hover:border-gray-700;
}

/* Buttons */
/* Default butttons */
.cookieControl__BarButtons button,
.cookieControl__ModalClose,
.cookieControl__ModalButtons button,
.cookieControl__ControlButton {
  @apply border-gray-200 bg-gray-50 text-gray-900 hover:bg-gray-100 hover:text-gray-700 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700;
}
/* Blue buttons */
.cookieControl__BarButtons button:nth-child(1),
.cookieControl__ModalButtons button:nth-child(1) {
  @apply bg-blue-700 text-white hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}
/* Red buttons */
.cookieControl__ModalClose {
  @apply bg-red-500 text-white hover:bg-red-600 hover:text-white focus:ring-red-200 dark:bg-red-500 dark:text-white dark:hover:bg-red-600 dark:focus:ring-red-400;
}

/* Toggle checkbox */
/* Toggle */
.cookieControl__ModalContent input:checked + button:before,
.cookieControl__ModalContent input:checked:disabled + button:before {
  @apply bg-white;
}
/* Disabled Background */
.cookieControl__ModalContent input:checked:disabled + button {
  @apply bg-blue-300;
}
/* Enabled Background */
.cookieControl__ModalContent input + button {
  @apply bg-gray-500;
}
/* Endabled checked background */
.cookieControl__ModalContent input:checked + button {
  @apply bg-blue-500;
}

/* Control button */
.cookieControl__ControlButton svg {
  @apply text-gray-600 dark:text-gray-400;
}
.cookieControl__ControlButton:hover svg {
  @apply text-gray-800 dark:text-gray-200;
}
.cookieControl__ControlButton:hover {
  @apply bg-white text-gray-700;
}

/* -----------------------------------------------------------------------------
   Bar
   -------------------------------------------------------------------------- */
.cookieControl__Bar {
  @apply fixed bottom-0 left-0 right-0 z-50 mx-auto border px-6 py-4 shadow-xl sm:bottom-6 sm:left-16 sm:right-16 sm:max-w-5xl sm:rounded-md;
}
.cookieControl__BarContainer {
  @apply flex items-center justify-between space-x-6 sm:space-x-0 rtl:space-x-reverse;
  @apply flex-col lg:flex-row;
}
.cookieControl__BarContainer div h3 {
  @apply mb-1 font-semibold;
}
.cookieControl__BarContainer div p {
  @apply text-sm;
}
.cookieControl__BarButtons {
  @apply ml-auto flex flex-col space-y-3 md:space-x-3 md:space-y-0;
  @apply mt-4 lg:mt-0;
  @apply md:flex-row-reverse;
}
.cookieControl__BarButtons button {
  @apply whitespace-nowrap rounded-lg border px-5 py-2.5 text-sm font-medium  transition duration-150 ease-in-out focus:z-10 focus:outline-none focus:ring-4;
}
.cookieControl__BarButtons button:nth-child(1) {
  @apply whitespace-nowrap rounded-lg px-5  py-2.5 text-sm font-medium transition  duration-150 ease-in-out focus:z-10  focus:outline-none focus:ring-4 md:ml-3;
  @apply rtl:ml-0;
}

/* --------------------------------------------------------------------------
   Modal
   -------------------------------------------------------------------------- */
.cookieControl__Modal {
  @apply fixed inset-0 z-[1000] flex items-center overflow-y-auto px-4 py-6 shadow-xl ring-1  drop-shadow-sm backdrop-blur-[.125em];
  background: rgba(0, 0, 0, 0.25);
  @apply pt-[5rem] md:pt-0;
}
.cookieControl__ModalUnsaved {
  @apply fixed bottom-0 left-0 right-0 z-50 mx-auto mb-5 border  p-3 text-center text-sm sm:bottom-6 sm:left-16 sm:right-16 sm:max-w-sm sm:rounded-md;
}
.cookieControl__ModalContent {
  @apply relative mb-6 transform rounded-lg border shadow-xl transition-all sm:mx-auto sm:w-full md:max-w-3xl;
}
.cookieControl__ModalContentInner {
  @apply px-7 py-3;
}
.cookieControl__ModalClose {
  @apply absolute right-6 top-6 z-10 h-auto whitespace-nowrap rounded-lg border px-5 py-2.5 text-sm font-medium transition duration-150 ease-in-out  focus:z-10 focus:outline-none focus:ring-4;
  @apply rtl:left-6 rtl:right-auto;
}
.cookieControl__ModalContent *:not(button) {
  @apply relative;
}
.cookieControl__ModalContent input {
  @apply sr-only;
}
.cookieControl__ModalContent input:checked + button:before {
  transform: translate3d(100%, -50%, 0);
}
.cookieControl__ModalContent input + button {
  @apply relative mr-[10px] inline-block min-h-[24px] min-w-[44px] rounded-[20px] text-[0] transition duration-200;
}
.cookieControl__ModalContent input + button:before {
  @apply absolute left-[4px] top-[50%] h-[18px] w-[18px] transform rounded-[50%] bg-white transition duration-200;
  content: "";
  transform: translate3d(0, -50%, 0);
}
.cookieControl__ModalContentInner h3 {
  @apply mt-3 text-sm;
}
.cookieControl__ModalContentInner h3:first-child {
  @apply block text-2xl font-medium;
}
.cookieControl__ModalContentInner p {
  @apply mb-5 mt-6 border-b pb-5 text-sm;
}
.cookieControl__ModalContentInner p a {
  @apply border-b font-bold;
}
.cookieControl__ModalContentInner {
  @apply max-h-[90vh] overflow-y-scroll md:max-h-[80vh];
}
.cookieControl__ModalContentInner ul li {
  @apply relative my-3 rounded-md p-5;
}
.cookieControl__ModalInputWrapper span:nth-child(1) {
  @apply mt-4 text-xs;
}
.cookieControl__ModalInputWrapper span:nth-child(2) {
  @apply mt-0;
}
.cookieControl__ModalCookieName {
  @apply font-medium;
  @apply rtl:mr-2;
}
.cookieControl__ModalCookieName span {
  @apply mt-2 block text-xs font-normal;
}
.cookieControl__ModalInputWrapper button {
  @apply float-right;
}
.cookieControl__ModalButtons {
  @apply fixed mb-2 mt-5 flex flex-col sm:flex-row-reverse;
  @apply rtl:sm:flex-row;
}
.cookieControl__ModalButtons button {
  @apply mb-3 flex-row whitespace-nowrap rounded-lg border px-5 py-2.5 text-sm font-medium transition duration-150 ease-in-out focus:z-10 focus:outline-none focus:ring-4 md:mb-0;
}
.cookieControl__ModalButtons button:nth-child(3) {
  @apply sm:absolute sm:left-0;
}
.cookieControl__ModalButtons button:nth-child(1) {
  @apply whitespace-nowrap rounded-lg px-5 py-2.5 text-sm font-medium transition duration-150 ease-in-out focus:z-10 focus:outline-none focus:ring-4 sm:ml-2;
}

/* -----------------------------------------------------------------------------
   Control button
   -------------------------------------------------------------------------- */
.cookieControl__ControlButton {
  @apply fixed bottom-[20px] right-[20px] h-[40px] w-[40px] cursor-pointer rounded-full border outline-0;
  backface-visibility: hidden;
  transition: 200ms;
}
.cookieControl__ControlButton svg {
  @apply absolute left-[50%] top-[50%] max-h-[24px] min-h-[24px] min-w-[24px] max-w-[24px] transition duration-200;
  backface-visibility: hidden;
  transform: translate(-50%, -50%);
}
