@import "cookiecontrol.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 5px;
    padding-left: 5px;
  }
}
html {
  @apply bg-white;
}
html.dark {
  @apply bg-slate-900;
}
